@page "/add-plan"
@using FitskedApp.Data
@using FitskedApp.Models
@rendermode InteractiveServer
@inject IUserPlanRepository planRepository
@inject IUserExerciseRepository userExerciseRepository
@inject IUserWorkoutRepository userWorkoutRepository
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext ApplicationDbContext
@inject NavigationManager NavManager


<h3 class="d-flex justify-content-center"> Create Plan </h3>

<form>
    <div class="d-flex justify-content-center">
        <label for="PlanName">Plan Name:</label>
        <input type="text" id="PlanName" @bind="plan.Name" />
    </div>
</form>


<div class="row border border-dark p-3">
    @foreach (var day in daysOfWeek)
    {
        <div class="col text-center" @onclick="() => { if (!displayDayViewWorkout) UserSelectsDay(day); }">
            <h5> @day </h5>
            <div class="workout-body border-top pt-3 row">
                <label> Exercise Details (for selected day): </label>
                <p> @GetWorkoutSummary(day)</p>
            </div>
        </div>
    }
</div>

<button @onclick="AddNewPlan"> Add Plan </button>

@if (displayDayViewWorkout)
{
    <div class="day-view-modal">
        <h5>@selectedDay</h5>

        <EditForm Model="userExercise">
            <DataAnnotationsValidator/>

            <label for="workoutType"> Workout Type: </label>
            <InputSelect id="workoutType" @bind-Value="userExercise.WorkoutType" @bind-Value:after="GetExercisesByWorkoutType">
                @foreach (var type in Enum.GetValues(typeof(WorkoutType)))
                {
                    <option value="@type">@type</option>
                }
            </InputSelect>

            @for (int i = 0; i < numberOfExercisesInWorkout; i++)
            {
                var j = i;
                if (j >= exerciseListForSelectedDay.Count)
                {
                    exerciseListForSelectedDay.Add(new UserExercise());
                }

                <div>
                    <label for="exerciseType"> Exercise Type: </label>
                    <InputSelect id="exerciseType" @bind-Value="exerciseListForSelectedDay[j].ExerciseType" @bind-Value:after="() => GetExercisesByExerciseType(j)">
                       <option value="" disabled selected> -- Select Exercise Type -- </option>
                        @foreach (var type in Enum.GetValues(typeof(ExerciseType)))
                        {
                            <option value="@type">@type</option>
                        }
                    </InputSelect>

                    @* The exercise selection needs to be restricted until the Exercise Type is selected*@
                    <label for="exerciseName"> Exercise: </label>

                    <InputSelect id="exerciseName" @bind-Value="exerciseListForSelectedDay[j].ExerciseId">
                        <option value="" disabled selected> -- Select Exercise -- </option>
                        @foreach (var exercise in exerciseListForSelectedDay[j].FilteredExercises)
                        {
                            <option value="@exercise.Id">@exercise.Name</option>
                        }
                    </InputSelect>

                    <label for="sets"> Sets: </label>
                    <input type="number" id="sets" @bind="exerciseListForSelectedDay[j].Sets" />

                    <label for="reps"> Reps: </label>
                    <input type="number" id="reps" @bind="exerciseListForSelectedDay[j].Repetitions" />

                    <label for="weight"> Weight: </label>
                    <input type="number" id="weight" @bind="exerciseListForSelectedDay[j].Weight" />

                    @* Need to have a method that converts lbs to kgs as these two measurements are very common across the fitness industry*@
                </div>
            }

        </EditForm>

        <form>
            
        </form>

        <button class="btn btn-primary mt-3" @onclick="SaveWorkout">Save Workout to In-Memory Dictionary/Return to Week View.</button> @* displayWeekView changed to false by the saveWorkout method*@
    </div>
}

@code {
    private string[] daysOfWeek = new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };

    private Plan plan = new Plan();

    private UserExercise userExercise = new();

    private int numberOfExercisesInWorkout = 7; // I want make the number of exercises any given workout to 7 (This is an opinionated number I'm setting for my app based on my beliefs on how to structure of a typical workout should be. I want to app to provide users with structure so they don't have to think about how many exercises they should have in they're workout.

    private Dictionary<string, List<UserExercise>> DictionaryOfListOfUserExerciseForSelectedDay = new();

    private string selectedDay = string.Empty;

    private List<UserExercise> exerciseListForSelectedDay = new(); // We already have a list of userexercise in dictionary, I don't think we need this one but we'll leave it in here for context

    private List<UserWorkout> workoutListForCurrentPlan = new(); 

    private bool displayDayViewWorkout = false;

    public List<Exercise> listOfExercisesByWorkoutType = new(); 

    public List<Exercise> listOfExerciseByExerciseType = new List<Exercise>();

    protected override void OnInitialized()
    {
        foreach (var day in daysOfWeek)
        {
            if (!DictionaryOfListOfUserExerciseForSelectedDay.ContainsKey(day))
            {
                DictionaryOfListOfUserExerciseForSelectedDay[day] = new List<UserExercise>();
            }
        }
    }

    private void UserSelectsDay(string day)
    {
        selectedDay = day;
        exerciseListForSelectedDay = DictionaryOfListOfUserExerciseForSelectedDay[day];
        displayDayViewWorkout = true;
    }

    private void SaveWorkout()
    {
        DictionaryOfListOfUserExerciseForSelectedDay[selectedDay] = exerciseListForSelectedDay;

        UserWorkout userWorkout = new();
        userWorkout.UserExercises = exerciseListForSelectedDay;
        workoutListForCurrentPlan.Add(userWorkout);

        displayDayViewWorkout = false;
    }

    private string GetWorkoutSummary(string day)
    {
        if (DictionaryOfListOfUserExerciseForSelectedDay.ContainsKey(day))
        {
            var exercises = DictionaryOfListOfUserExerciseForSelectedDay[day];
            if (exercises.Count == 0)
            {
                return "You haven't added any workouts here yet. Are you taking an off day?";
            }
            string summary = "";
            foreach (UserExercise userExercise in exercises)
            {
                summary += $"{userExercise.Name} ({userExercise.Sets} x {userExercise.Repetitions}) - {userExercise.Weight}|";
            }
            return summary.TrimEnd(' ', '|');
        }
        return "You haven't added any workouts here yet. Are you taking an off day?";
    }

    private async Task AddNewPlan()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var userId = user.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

            if (!string.IsNullOrEmpty(userId))
            {
                plan.ApplicationUserId = userId;
            }

            using var transaction = await ApplicationDbContext.Database.BeginTransactionAsync();
            try
            {
                int planId = await planRepository.AddPlan(plan); 

                foreach (UserWorkout userworkout in workoutListForCurrentPlan)
                {
                    userworkout.PlanId = plan.Id;
                    await userWorkoutRepository.AddWorkout(userworkout); 

                    foreach (UserExercise userExercise in userworkout.UserExercises)
                    {
                        userExercise.UserWorkoutId = userworkout.Id;
                        await userExerciseRepository.AddUserExercise(userExercise);
                    }
                }

                await transaction.CommitAsync();

                plan = new Plan();  
                NavManager.NavigateTo($"/");
            }
            catch (Exception e)
            {
                await transaction.RollbackAsync();
                throw new Exception($"Something went wrong with the database transaction: {e.Message}");
            }
        }
    }

    public async Task GetExercisesByWorkoutType()
    {
        listOfExercisesByWorkoutType = await userExerciseRepository.GetExercisesBasedOnWorkoutType(userExercise.WorkoutType);
        foreach (var exercise in exerciseListForSelectedDay)
        {
            exercise.FilteredExercises = userExerciseRepository.GetExercisesFromWorkoutListBasedOnExerciseType(listOfExercisesByWorkoutType, exercise.ExerciseType);
        }
        StateHasChanged();
    }

    public async Task GetExercisesByExerciseType(int index)
    {
        var selectedExerciseType = exerciseListForSelectedDay[index].ExerciseType;
        exerciseListForSelectedDay[index].FilteredExercises = userExerciseRepository.GetExercisesFromWorkoutListBasedOnExerciseType(listOfExercisesByWorkoutType, selectedExerciseType);
        await InvokeAsync(StateHasChanged);
    }

}
